.layout {
    display: grid;
    gap: 1.5rem;

    grid-template-areas:
        "header"
        "nav"
        "Presentacion"
        "Caracteristicas"
        "Contacto"
        "footer"
        ;
}
.header { 
    grid-area: header;
} 
.nav { 
    grid-area: nav;
} 
.presentacion {
    grid-area: Presentacion;
} 
.caracteristicas {
    grid-area: Caracteristicas;
} 
.contacto {
    grid-area: Contacto;
} 
.footer {
    grid-area: footer;
}

----------------------------------------------
.Presentacion {
 box-sizing: border-box;
 width: 500px;
 padding: 20px;
 border: 5px solid #028090;
}
.Caracteristicas {
 box-sizing: border-box;
 width: 500px;
 padding: 20px;
 border: 5px solid #08db2f;
}
.Contacto {
 box-sizing: border-box;
 width: 500px;
 padding: 20px;
 border: 5px solid #b20303;
}
.nav__lista {
display: flex;
justify-content: flex-start;
gap: 24px;
list-style: none;
}